*{
margin: 0;
padding: 0;
background: #333333;
}
header{
width: 100%;
height: 50px;
position: fixed;
background: black;
}
header img{
width: 150px;
height: 30px;
padding-top: 15px;
background: black;
vertical-align: middle;
background-repeat: no-repeat;
pointer-events: none;
cursor: default;
}
iframe{
width: 90%;
height: 230px;
margin-top: 80px;
text-align: center;
margin-left: 4.5%;
margin-right: 4.5%;
}
#dskenh, tr, th{
width: 100%;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
border-spacing: 10px;
text-align: center;
background: black;
border-radius: 4px;
}
#dskenh th{
height: 30px;
background: silver;
color: black;
border-radius: 4px;
}
td{
width: 25%;
height: 70px;
overflow: hidden;
padding: 10px;
border-radius: 4px;
}
#dskenh td img{
max-width: 65px;
max-height: 60px;
vertical-align: middle;
margin-left: auto;
    margin-right: auto;
display: block;
}
#dskenh td:active{
box-shadow: 0px 0px 4px 4px red;
border-radius: 4px;
background: black;
}
#dskenh a:hover, img:hover{
background: #333333;
display: inline-block;
}
#dskenh a:active, img:active{
background: black;
display: inline-block;
}
